<div class="my-4 mx-4">
    <h1 class="text-center">About My App</h1>
<p class="lead">
    
  Angular is a front-end framework for creating single page applications. The
  app covers various aspects of Angular development. Angular and its usage
  Overview of module and components Installation of Bootstrap and jQuery. The app
  covers editing and application components. Useing JavaScript variables and
  expressions in Angular Creating and managing variables in Angular Changing
  template and component usage. Using Angular and Bootstrap for web development.
  Using Angular classes and components, creating and using tools in Angular.
  Understanding Angular directives and their usage Understanding and using input
  decorators in Angular. Handling click events in Angular components. Creating
  and managing to-do items and events in Angular Deleting specific elements in
  Angular Creating a to-do list in Angular Creating forms and adding details in
  Angular Understanding Angular forms and handling form submission. Deleting
  items and managing data Using local storage to save and retrieve to-do items
  Managing to-do items with ease Using CSS to add strike through and text
  decoration Managing to-do list items Implementing directives and resolving
  to-do items Creating a user-friendly website with good user experience.
  Angular allows to easily deploy applications to a server and create static
  websites. Exploring website development and design
</p>
</div>