<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand mx-2" routerLink="/">Todo-list</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          <a class="nav-link" href="/about">About</a>
        </div>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
</div>

